@model COMP003B.Assignment3.Models.EventRegistration

<p>Congratulations! You will receive an email with your tickets for Event 2025, shortly!</p>
	
	<p>See you there!</p>

@{
	<partial name="_EventNav" />
}


